In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('energydata_complete.csv')

In [4]:
df

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,2016-05-27 17:20:00,100,0,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,2016-05-27 17:30:00,90,0,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,2016-05-27 17:40:00,270,10,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,2016-05-27 17:50:00,420,10,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,2016-05-27 18:00:00,430,10,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [40]:
df=df._get_numeric_data()
df.head()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [43]:
df.drop(['lights'], axis=1, inplace=True)

In [45]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
X = normalised_df.drop(columns=['Appliances'])
y = normalised_df['Appliances']

In [46]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=1)

for feature T2 and Target T6

In [63]:
train_x = x_train[['T2']]
train_y = x_train[['T6']]

In [64]:
test_x = x_test[['T2']]
test_y = x_test[['T6']]

In [65]:
lrm = LinearRegression()

In [66]:
lrm.fit(train_x, train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
predicted_values = lrm.predict(test_x)

In [72]:
from sklearn.metrics import r2_score
R2_score = round(r2_score(test_y, predicted_values), 2)
R2_score

0.65

In [73]:
lrm.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [75]:
y_pred = lrm.predict(x_test)

In [76]:
MAE = round(mean_absolute_error(y_test, y_pred), 2)

MAE

0.05

In [78]:
RSS = round(np.sum(np.square(y_test - y_pred)), 2)
RSS

46.1

In [79]:
RMSE = round(np.sqrt(mean_squared_error(y_test, y_pred)), 3)

RMSE

0.088

In [10]:
predicted_values = lrm.predict(x_test)

In [80]:
R2_score = r2_score(y_test, y_pred)
round(R2_score, 2)

0.16

In [81]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

linear_weights_df = get_weights_df(lrm, x_train, 'Linear_weight')

linear_weights_df

       Features  Linear_weight
0          RH_2      -0.458176
1         T_out      -0.330375
2            T2      -0.249801
3            T9      -0.204718
4          RH_8      -0.156534
5        RH_out      -0.076223
6          RH_7      -0.047614
7          RH_9      -0.036034
8           rv1      -0.000350
9           rv2      -0.000350
10  Press_mm_hg       0.004642
11           T1       0.005960
12   Visibility       0.010992
13           T7       0.012583
14           T5       0.012616
15         RH_5       0.016276
16         RH_4       0.026659
17           T4       0.027368
18    Windspeed       0.027918
19         RH_6       0.038094
20           T8       0.088501
21         RH_3       0.095538
22    Tdewpoint       0.119484
23           T6       0.249019
24           T3       0.293245
25         RH_1       0.535743

In [84]:
ridge = Ridge()

ridge.fit(x_train, y_train)

pred = ridge.predict(x_test)

ridge_rmse = round(np.sqrt(mean_squared_error(y_test, pred)), 3)

print(ridge_rmse)


ridge_reg = Ridge(alpha=0.4)

ridge_reg.fit(x_train, y_train)

new_pred = ridge_reg.predict(x_test)

ridge_rmse_new = round(np.sqrt(mean_squared_error(y_test, new_pred)), 3)

print(ridge_rmse_new)

0.088
0.088

that means there is no change

In [86]:
lasso_reg = Lasso(alpha=0.001)

lasso_reg.fit(x_train, y_train)

lasso_preds = lasso_reg.predict(x_test)

def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

lasso_weights_df = get_weights_df(lasso_reg, x_train, 'Lasso_weight')

non_zero_weights = lasso_weights_df[lasso_weights_df['Lasso_weight'] != 0]

print(non_zero_weights)

     Features  Lasso_weight
0      RH_out     -0.047062
23         T2      0.000084
24  Windspeed      0.002774
25       RH_1      0.008410

In [87]:
new_RMSE = round(np.sqrt(mean_squared_error(y_test, lasso_preds)), 3)
new_RMSE

0.095